[Desktop Entry]
Name=Key Status Plasmoid
Comment=A widget which indicates the status of the NUM- and CAPS-Lock modifiers

Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-Plasma-DefaultSize=48,48
 
X-KDE-PluginInfo-Author=xdarklight
X-KDE-PluginInfo-Email=darklight.xdarklight@googlemail.com
X-KDE-PluginInfo-Name=keystatusplasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-EnabledByDefault=false
